@model List<LatestCarServiceModel>

@{
    ViewBag.Title = "Welcome!";
}

@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for renting cars!</h1>
        <p class="lead">There are no cars in the system currently available so why don't you just add one?</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Car</a>
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            var car = Model[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" src="@car.ImageUrl" alt="@car.Brand @car.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">@car.Year  @car.Brand @car.Model</a></h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="jumbotron d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-cars"></h2>
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-rents"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-cars').text(data.totalCars + " Cars");
                $('#total-users').text(data.totalUsers + " Users");
                $('#total-rents').text(data.totalRents + " Rents");

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}